body
{
    padding: 0;
    margin: 0;

    font-family: Arial;
    font-weight: bold;

    color: #434344;

    min-width: 600px;
}

.hidden
{
    z-index: -1;
    opacity: 0;
}

.window__game
{
    position: relative;

    background: #CFD0CF;

    min-height: 100vh;
}

.window__timer
{
    margin-top: 30px;
    text-align: center;

    font-size: 32px;
    line-height: 37px;
}

.window__notification
{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    display: grid;
    grid-template-columns: 1.5fr minmax(350px, 1fr) 1.5fr;
    grid-template-areas: ". notification .";
    align-items: center;
}

.window__notification::before
{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    background-color: #000;
    opacity: 0.1;
}

.notification__block
{
    grid-area: notification;
    background-color: #fff;

    padding: 30px 0px;

    text-align: center;

    z-index: 4000;
}

.notification__head
{
    font-size: 48px;
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}

.notification__submit
{
    height: 40px;

    font-family: Arial;
    font-size: 20px;

    color: #fff;

    margin: 40px auto 0px auto;
    padding: 0px 30px;

    background: linear-gradient(225deg, #22ab93 0%, #19668d 100%);

    border: none;
    border-radius: 10px;

    cursor: pointer;
    outline: none;

    box-shadow: 1px 1px 1px #434344;
}

.notification__submit:focus
{
    box-shadow: inset 2px 1px 8px #434344;
}

.game__head
{
    text-align: center;

    font-size: 42px;
    line-height: 47px;

    padding: 45px 0px;
}

.game__cards
{
    display: grid;
    grid-template-columns: repeat(4, 130px);
    grid-template-rows: repeat(3, 130px);
    gap: 25px;

    justify-content: center;
}

.background
{
    height: 100%;
    box-sizing: border-box;
}

.rabbit .card__top-side .background
{
    background: url('../img/rabbit.png') center center no-repeat / 50%;
}

.bear .card__top-side .background
{
    background: url('../img/bear.png') center center no-repeat / 50%;
}

.fox .card__top-side .background
{
    background: url('../img/fox.png') center center no-repeat / 50%;
}

.lion .card__top-side .background
{
    background: url('../img/lion.png') center center no-repeat / 50%;
}

.monkey .card__top-side .background
{
    background: url('../img/monkey.png') center center no-repeat / 50%;
}

.pig .card__top-side .background
{
    background: url('../img/pig.png') center center no-repeat / 50%;
}

.gradient
{
    border-radius: 5px;
    
    background: linear-gradient(45deg, #22ab93 0%, #19668d 100%);
}

.game__card
{
    content: "";

    position: relative;
    perspective: 600px;

    cursor: pointer;
}

.card__top-side, 
.card__down-side
{
    position: absolute;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    box-shadow: 1px 1px 5px #434344;

    border: 5px solid #fff;
    border-radius: 10px;

    transition: .5s;
    backface-visibility: hidden;
}

.card__top-side
{
    background-color: #fff;

    transform: rotateY(180deg);
}

.game__card_show .card__top-side,
.game__card_success .card__top-side,
.game__card_error .card__top-side
{
    transform: rotateY(360deg);
}

.game__card_show .card__down-side,
.game__card_success .card__down-side,
.game__card_error .card__down-side
{
    transform: rotateY(180deg);
}

.game__card_success .card__top-side
{
    background-color: #5AD66F;
    border: 5px solid #5AD66F;

    cursor: default;
}

.game__card_error .card__top-side
{
    background-color: #F44336;
    border: 5px solid #F44336;

    cursor: default;
}

.notification__head span:nth-child(1) 
{
    animation: anim 1s infinite;
}

.notification__head span:nth-child(2) 
{
    animation: anim 1s infinite 0.15s;
}

.notification__head span:nth-child(3) 
{
    animation: anim 1s infinite 0.3s;
}

.notification__head span:nth-child(4) 
{
    animation: anim 1s infinite 0.45s;
}

@keyframes anim {
    from {
        transform: scaleY(1) translateY(0);
    } 66% {
        transform: scaleY(1.5) translateY(-15px);
    } to {
        transform: scaleY(1) translateY(0);
    }
}